main#insta-wall {
    padding: 40px 0;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}

main#insta-wall h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
    color: #42281C;
    line-height: 50px;
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

main#insta-wall h1 a {
    color: inherit;
    font-size: 45px;
    transition: 0.3s;
}

main#insta-wall h1 a:hover {
    color: black;
    transform: translateY(-5px);
}

main#insta-wall h2 {
    text-align: center;
    font-size: 26px;
    letter-spacing: 2.6px;
    font-weight: 700;
    text-indent: -40px;
}

main#insta-wall h2 a {
    color: #42281C;
    text-decoration: none;
    transition: 0.3s;
}

main#insta-wall h2 a:hover {
    color: black;
    text-decoration: underline;
}

main#insta-wall section {
    padding: 50px 10%;
    display: flex;
    gap: 15px;
    align-items: center;
}

main#insta-wall section div {
    width: 33%;
}

main#insta-wall section img {
    width: 100%;
    transition: 0.3s;
}

main#insta-wall section img:hover {
    transform: translateY(-10px);
    filter: drop-shadow(10px 10px 12px rgba(0, 0, 0, 0.1));
}

main#insta-wall .img-row1 {
    margin-top: 130px;
}

main#insta-wall .img-row3 {
    margin-top: 30px;
}

@media (max-width: 1065px) {
    main#insta-wall section {
        padding: 50px 3%;
    }
}

@media (max-width: 780px) {
    main#insta-wall section {
        justify-content: center;
    }

    main#insta-wall section div {
        width: 45%;
    }

    main#insta-wall .img-row1 {
        margin-top: 30px;
    }

    main#insta-wall section div:nth-child(2) {
        display: none;
    }

    main#insta-wall section div:nth-child(3) {
        padding-top: 80px;
    }

    main#insta-wall .img-row3 {
        margin-top: 30px;
    }
}

@media (max-width: 660px) {
    main#insta-wall section {
        flex-wrap: wrap;
    }

    main#insta-wall section div {
        width: 300px;
    }

    main#insta-wall section div:nth-child(3) {
        padding-top: 10px;
    }
}

@media (max-width: 550px) {
    main#insta-wall h1 {
        scale: 0.9;
        text-align: center;
    }

    main#insta-wall h2 {
        scale: 0.9;
    }
}

@media (max-width: 550px) {
    main#insta-wall {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main#insta-wall h1 {
        scale: 0.9;
        text-align: center;
        display: block;
        margin: auto;
        margin-bottom: 15px;
    }

    main#insta-wall h2 {
        scale: 0.9;
        text-indent: unset;
    }
}

@media (max-width: 480px) {
    main#insta-wall h2 {
        scale: 0.8;
    }
}